.cancel_button {
  background-color: $pink-color;
  background-image: linear-gradient(90deg, $red-color 0, $red-color 50%, $pink-color 100%);
  padding: 0.8em 2em;
  border-radius: 1em;

  &:focus {
    outline: none;
  }

  &:hover {
    animation: move-linear-cancel-gradient 0.3s forwards;
  }

  &--loading {
    @extend .cancel_button;
    animation: move-linear-gradient 0.8s infinite forwards;
  }
}

@keyframes move-linear-cancel-gradient {
  100% {
    background-image: linear-gradient(90deg, $pink-color 0, $red-color 50%, $red-color 100%);
  }
  95% {
    background-image: linear-gradient(90deg, $red-color 0, $pink-color 5%, $red-color 100%);
  }
  90% {
    background-image: linear-gradient(90deg, $red-color 0, $pink-color 10%, $red-color 100%);
  }
  85% {
    background-image: linear-gradient(90deg, $red-color 0, $pink-color 15%, $red-color 100%);
  }
  80% {
    background-image: linear-gradient(90deg, $red-color 0, $pink-color 20%, $red-color 100%);
  }
  75% {
    background-image: linear-gradient(90deg, $red-color 0, $pink-color 25%, $red-color 100%);
  }
  70% {
    background-image: linear-gradient(90deg, $red-color 0, $pink-color 30%, $red-color 100%);
  }
  65% {
    background-image: linear-gradient(90deg, $red-color 0, $pink-color 35%, $red-color 100%);
  }
  60% {
    background-image: linear-gradient(90deg, $red-color 0, $pink-color 40%, $red-color 100%);
  }
  55% {
    background-image: linear-gradient(90deg, $red-color 0, $pink-color 45%, $red-color 100%);
  }
  50% {
    background-image: linear-gradient(90deg, $red-color 0, $pink-color 50%, $red-color 100%);
  }
  45% {
    background-image: linear-gradient(90deg, $red-color 0, $pink-color 55%, $red-color 100%);
  }
  40% {
    background-image: linear-gradient(90deg, $red-color 0, $pink-color 60%, $red-color 100%);
  }
  35% {
    background-image: linear-gradient(90deg, $red-color 0, $pink-color 65%, $red-color 100%);
  }
  30% {
    background-image: linear-gradient(90deg, $red-color 0, $pink-color 70%, $red-color 100%);
  }
  25% {
    background-image: linear-gradient(90deg, $red-color 0, $pink-color 75%, $red-color 100%);
  }
  20% {
    background-image: linear-gradient(90deg, $red-color 0, $pink-color 80%, $red-color 100%);
  }
  15% {
    background-image: linear-gradient(90deg, $red-color 0, $pink-color 85%, $red-color 100%);
  }
  10% {
    background-image: linear-gradient(90deg, $red-color 0, $pink-color 90%, $red-color 100%);
  }
  5% {
    background-image: linear-gradient(90deg, $red-color 0, $pink-color 95%, $red-color 100%);
  }
  0% {
    background-image: linear-gradient(90deg, $red-color 0, $red-color 50%, $pink-color 100%);
  }
}
