.img_wrapper {
  flex-basis: 28%;
}

.available_wrapper {
  flex-basis: 28%;
  border: 1px solid $primary-color;
}

@include xs {
  .img_wrapper {
    flex-basis: 45%;
  }
  .available_wrapper {
    flex-basis: 45%;
  }
}
