@import 'variables';

// Small devices
@mixin xs {
  @media only screen and (max-width:#{$screen-sm-min - 1px}) {
    @content;
  }
}

@mixin sm {
  @media (min-width: #{$screen-sm-min}) and (max-width:#{$screen-md-min - 1px}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) and (max-width:#{$screen-lg-min - 1px}) {
    @content;
  }
}

// Medium devices up
@mixin md-up {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Medium devices up
@mixin md-down {
  @media (max-width: #{$screen-md-min - 1px}) {
    @content;
  }
}

// Large devices

@mixin lg {
  @media (min-width: #{$screen-lg-min}) and (max-width:#{$screen-xl-min - 1px}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}
