// Break point
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

// fonts
$primary-font: 'Inter', sans-serif;

// colors
$primary-color: #48bf53;
$primary-bold: #11823b;
