// Break point
$screen-sm-min: 640px;
$screen-md-min: 768px;
$screen-lg-min: 1024px;
$screen-xl-min: 1280px;

// fonts
$primary-font: 'Inter', sans-serif;

// colors
$primary-color: #48bf53;
$primary-bold: #11823b;
$shadow-color: rgb(205, 205, 205);
$hover-gray: rgb(238, 238, 238);
$light-yellow: rgb(247, 247, 58);
$blue-color: #3c99dc;
$red-color: #e20000;
$pink-color: #ff5b5b;
$gray-color: rgb(243 244 246 / var(--tw-bg-opacity));
